In [1]:
import pandas as pd 
import numpy as np

In [3]:
df=pd.read_excel("D:\corona-virus-pakistan-dataset-2020_2\COVID_FINAL_DATA.xlsx","TimeSeries_Action_Screen")

In [4]:
df

,Date,Cumulative travelers Screened,Suspected at Points of Entry,Travelers Screened at Points ofEntry in last 24 hours
0,11-Mar-2020,873288,26,21102
1,12-Mar-2020,894256,29,20968
2,13-Mar-2020,913542,33,19286
3,14-Mar-2020,933970,43,20428
4,15-Mar-2020,954646,59,20676
5,16-Mar-2020,975634,74,20988
6,17-Mar-2020,995821,95,20187
7,18-Mar-2020,1015909,115,20088
8,19-Mar-2020,1033884,151,17975
9,20-Mar-2020,1049282,170,15398
10,21-Mar-2020,1063193,186,13911
11,22-Mar-2020,1077632,202,14439
12,23-Mar-2020,1089933,217,12301
13,24-Mar-2020,1102234,232,12301
14,25-Mar-2020,1102383,234,149
15,26-Mar-2020,1102383,234,0
16,27-Mar-2020,1102383,234,0
17,28-Mar-2020,1102383,234,0
18,29-Mar-2020,1102383,234,0
19,2020-03-30 00:00:00,1102562,234,0
20,2020-03-31 00:00:00,1102562,234,0
21,2020-04-01 00:00:00,1102562,234,0
22,2020-04-02 00:00:00,1102562,234,0
23,2020-04-03 00:00:00,1102562,234,0

In [12]:
df.rename(columns={"Cumulative travelers Screened":"Cumulative_travelers_Screened","Suspected at Points of Entry":"Suspected_at_Points_of_Entry","Travelers Screened at Points ofEntry in last 24 hours":"Travelers_Screened_at_Points_of_Entry_in_last_24 _hours"},inplace=True)

In [13]:
df

,Date,Cumulative_travelers_Screened,Suspected_at_Points_of_Entry,Travelers_Screened_at_Points_of_Entry_in_last_24 _hours
0,11-Mar-2020,873288,26,21102
1,12-Mar-2020,894256,29,20968
2,13-Mar-2020,913542,33,19286
3,14-Mar-2020,933970,43,20428
4,15-Mar-2020,954646,59,20676
5,16-Mar-2020,975634,74,20988
6,17-Mar-2020,995821,95,20187
7,18-Mar-2020,1015909,115,20088
8,19-Mar-2020,1033884,151,17975
9,20-Mar-2020,1049282,170,15398
10,21-Mar-2020,1063193,186,13911
11,22-Mar-2020,1077632,202,14439
12,23-Mar-2020,1089933,217,12301
13,24-Mar-2020,1102234,232,12301
14,25-Mar-2020,1102383,234,149
15,26-Mar-2020,1102383,234,0
16,27-Mar-2020,1102383,234,0
17,28-Mar-2020,1102383,234,0
18,29-Mar-2020,1102383,234,0
19,2020-03-30 00:00:00,1102562,234,0
20,2020-03-31 00:00:00,1102562,234,0
21,2020-04-01 00:00:00,1102562,234,0
22,2020-04-02 00:00:00,1102562,234,0
23,2020-04-03 00:00:00,1102562,234,0

In [14]:
df.columns

Index(['Date', 'Cumulative_travelers_Screened', 'Suspected_at_Points_of_Entry',
       'Travelers_Screened_at_Points_of_Entry_in_last_24 _hours'],
      dtype='object')

In [34]:
df.replace(np.nan,0,inplace=True)

In [35]:
df

,Date,Cumulative_travelers_Screened,Suspected_at_Points_of_Entry,Travelers_Screened_at_Points_of_Entry_in_last_24 _hours
0,11-Mar-2020,873288,26,21102.0
1,12-Mar-2020,894256,29,20968.0
2,13-Mar-2020,913542,33,19286.0
3,14-Mar-2020,933970,43,20428.0
4,15-Mar-2020,954646,59,20676.0
5,16-Mar-2020,975634,74,20988.0
6,17-Mar-2020,995821,95,20187.0
7,18-Mar-2020,1015909,115,20088.0
8,19-Mar-2020,1033884,151,17975.0
9,20-Mar-2020,1049282,170,15398.0
10,21-Mar-2020,1063193,186,13911.0
11,22-Mar-2020,1077632,202,14439.0
12,23-Mar-2020,1089933,217,12301.0
13,24-Mar-2020,1102234,232,12301.0
14,25-Mar-2020,1102383,234,149.0
15,26-Mar-2020,1102383,234,0.0
16,27-Mar-2020,1102383,234,0.0
17,28-Mar-2020,1102383,234,0.0
18,29-Mar-2020,1102383,234,0.0
19,2020-03-30 00:00:00,1102562,234,0.0
20,2020-03-31 00:00:00,1102562,234,0.0
21,2020-04-01 00:00:00,1102562,234,0.0
22,2020-04-02 00:00:00,1102562,234,0.0
23,2020-04-03 00:00:00,1102562,234,0.0

In [31]:
df['Suspected_at_Points_of_Entry'].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
Name: Suspected_at_Points_of_Entry, dtype: bool

In [32]:
df['Suspected_at_Points_of_Entry'].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
Name: Suspected_at_Points_of_Entry, dtype: bool

In [36]:
df['Travelers_Screened_at_Points_of_Entry_in_last_24 _hours'].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
Name: Travelers_Screened_at_Points_of_Entry_in_last_24 _hours, dtype: bool

In [37]:
df.to_excel("D:\TimeSeries_Action_Screen.xlsx")